/*sidebar*/

.sidebar {
    background: #1e2939;
    width: 370px;
    padding: 40px 0; 
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}