 /*about-me*/
.about {
    margin-bottom: 40px;
}
.about__profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color-black);
    margin-bottom: 20px;} 
.about__name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: var(--text-color-black);
    margin-bottom: 25px;
}
.about__discription {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-grey);
    text-align: justify;
    // width: 450px;
}