/*education*/

.my-education-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: var(--text-color-black);
    margin-bottom: 15px;
}
.education-list {
    display: flex;
    flex-direction: column;
}
.education__item{
    &:not(:last-child) {
        margin-bottom: 15px;}
}
.education__university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color-ginger);
    margin-bottom: 10px;
}
.education__speciality {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color-black);
    margin-bottom: 10px;
}
.education__period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color-light-gray);
}
.education__divider {
    color: var(--text-color-black);
}