.for-mi {
    padding: 100px 90px;
    width: calc (1200px - 370px);
}
.for-mi-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}