/*work*/
.work-expiriens-company {
    margin: 0 0 15px 0;
}
.work-expiriens__position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.work-expiriens__position--color {
    color: #FB6D3A;
}
.work-expiriens__period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.work-expiriens__period--color { 
    color: #000;
}
.work-expiriens__list {
    padding: 0 0 0 17px
}
.work-expiriens__item{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}