/*work*/

.work-expiriens-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: var(--text-color-black);
    margin-bottom: 10px;
}
.work-expiriens-company {
    margin: 0 0 15px 0;
}
.work-expiriens__position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.work-expiriens__position--color {
    color: var(--text-color-ginger);
}
.work-expiriens__period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color-light-gray);
    margin: 0 0 10px 0;
}
.work-expiriens__period--color { 
    color: var(--text-color-black);
}
.work-expiriens__list {
    padding: 0 0 0 17px
}
.work-expiriens__item{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-gray);
}
.details__more{
    margin-bottom: 15px;
}